<!doctype html>
<html lang="en">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
    <title>Magnus Gyllenswärd</title>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <h1><a href="/index.html">Magnus Gyllenswärd Design</a></h1>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">Menu</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show scroll-on-page-links">
            <li class="nav-link"><a class="scroll-on-page-link portfolio-link" href="/index.html#scroll-link-3">Portfolio</a></li>
            <li class="nav-link"><a class="scroll-on-page-link resume-link" href="/index.html#scroll-link-4">Resume/CV</a></li>
            <li class="nav-link"><a class="scroll-on-page-link contact-link" href="/index.html#scroll-link-5">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="project">
        
        <div class="project-container">
            <%= yield %>
            <div class="project-end"></div>
        </div>

    </div>
    <div class="project-bottom-section">
    		<h1>Portfolio</h1>
    		<h2>A selected list of projects and design work. Some projects are not displayed since they are still confidential. All graphic design made by me unless stated otherwise.</h2>
        <%= partial "portfolio-content" %>
        <%= partial "contact-project" %>
    </div>
  </body>
</html>
