<div class="portfolio-container">

	<div class="portfolio-flex-centering">

		<div class="projects-in-focus-heading">
  
			<div class="projects-in-focus">
			
        <% link_to '/projects/mindler.html', :class => 'project-item-focus mindler' do %>
		  		<div class="project-item-focus-back">
				  	<%= auto_image_tag 'logos/mindler.png', 'Mindler company logo' %>
				  	<h3>UX DESIGN LEAD</h3>
				  	<div class="read-more-overlay">Read more</div>
			  	</div>
				<% end %>			

        <% link_to '/projects/tvnu.html', :class => 'project-item-focus tvnu' do %>
		  		<div class="project-item-focus-back">
				  	<%= auto_image_tag 'logos/tvnu.png', 'TV.nu company logo' %>
				  	<h3>PRODUCT DESIGN</h3>
				  	<div class="read-more-overlay">Read more</div>
			  	</div>
				<% end %>			<% link_to '/projects/nyarp.html', :class => 'project-item-focus nyarp' do %>
		    	<div class="project-item-focus-back">
		      	<%= auto_image_tag 'logos/nyarp.png', 'Nyarp company logo' %>
		      	<h3>FULL STACK DESIGN</h3>
		      	<div class="read-more-overlay">Read more</div>
		      </div>
		    <% end %>

      <% link_to '/projects/adlibris.html', :class => 'project-item-focus adlibris' do %>
          <div class="project-item-focus-back">
            <%= auto_image_tag 'logos/adlibris.png', 'Adlibris company logo' %>
            <h3>UX / UI / FRONTEND DESIGN</h3>
            <div class="read-more-overlay">Read more</div>
          </div>

        <% end %>

			</div>
		</div>

		<div class="projects-at-a-glance-heading">
			
		  <div class="projects-at-a-glance">

			<% link_to '/projects/mindler-concept.html', class: 'project-item' do %>
			  <%= auto_image_tag 'projects/mindler-concept1.png', 'Mindler social anxiety app concept interface design' %>
			  <div class="project-text">
			    <h5>Mindler</h5>
			    <h4>Concept for Social Anxiety App</h4>
			  </div>
			<% end %>

			<% link_to '/projects/health-care.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/6_3.png', 'Future healthcare concept design by Veryday' %>
		      <div class="project-text">
		        <h5>Veryday</h5>
		        <h4>Future Health Care Concept</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/insight-pump.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/insight-pump2.png', 'Roche Diagnostics insulin pump interface design' %>
		      <div class="project-text">
		        <h5>Roche Diagnostics</h5>
		        <h4>Insulin Pump Interface</h4>
		      </div>
		    <% end %>
		    
			<% link_to '/projects/swegon.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/34.png', 'Swegon air handling unit interface design project' %>
		      <div class="project-text">
		        <h5>Swegon</h5>
		        <h4>Air Handling Unit</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/itt.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/39_2.png', 'ITT Flygt pump station interface design' %>
		      <div class="project-text">
		        <h5>ITT Flygt (now Xylem)</h5>
		        <h4>Pump Station Interface</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/sonicspree.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/29_6.png', 'Sonicspree music game design by Veryday' %>
		      <div class="project-text">
		        <h5>Veryday</h5>
		        <h4>Sonicspree Music Game</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/spotify.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/27.png', 'Spotify Windows Phone 7 application design project' %>
		      <div class="project-text">
		        <h5>Spotify</h5>
		        <h4>Application for Windows Phone 7</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/gameface.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/40_2.png', 'Gameface Media photo gallery application design' %>
		      <div class="project-text">
		        <h5>Gameface Media</h5>
		        <h4>Photo Gallery Application</h4>
		      </div>
		    <% end %>
		    
			<% link_to '/projects/pinball.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/30_6.png', 'Pinball Expo 2011 graphic design project' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Pinball Expo 2011</h4>
		      </div>
		    <% end %>
		    
			<% link_to '/projects/chartpen.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/20_4.png', 'Chartpen logo design project' %>
		      <div class="project-text">
		        <h5>Chartpen</h5>
		        <h4>Logo Design</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/doro.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/doro1.png', 'Doro senior-friendly mobile phone interface design' %>
		      <div class="project-text">
		        <h5>Doro</h5>
		        <h4>Mobile Phone Interfaces for Seniors</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/barcamp.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/40.png', 'Thoughtbot Barcamp website design project' %>
		      <div class="project-text">
		        <h5>thoughtbot</h5>
		        <h4>Barcamp Website</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/aerocrine.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/aerocrine2.png', 'Aerocrine Niox Vero medical device project showcase' %>
		      <div class="project-text">
		        <h5>Aerocrine</h5>
		        <h4>Niox Vero</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/earthworks.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/20.png', 'Earthworks logo design study project' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Earthworks Logo Design</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/diabetes-education.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/37.png', 'Roche Diagnostics diabetes education tools design' %>
		      <div class="project-text">
		        <h5>Roche Diagnostics</h5>
		        <h4>Diabetes Education Tools</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/sustainable-smartphone.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/35.png', 'Sustainable smartphone concept design project' %>
		      <div class="project-text">
		        <h5>Concept Project</h5>
		        <h4>Sustainable Smart Phone</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/element.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/9.jpg', 'The Element Radiator design project by Interactive Institute' %>
		      <div class="project-text">
		        <h5>The Interactive Institute</h5>
		        <h4>The Element Radiator</h4>
		      </div>
		    <% end %>
		    
			<% link_to '/projects/power-aware-cord.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/8.jpg', 'The Power-Aware Cord project by Interactive Institute' %>
		      <div class="project-text">
		        <h5>The Interactive Institute</h5>
		        <h4>The Power-Aware Cord</h4>
		      </div>
		    <% end %>

			<% link_to '/projects/microwave.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/12.png', 'Electrolux concept halogen microwave oven thesis project' %>
		      <div class="project-text">
		        <h5>Electrolux (Thesis Work)</h5>
		        <h4>Concept Halogen Microwave Oven</h4>
		      </div>
		    <% end %>

		  </div>  
		</div>
	</div>
</div>
