<div class="portfolio-container">

	<div class="portfolio-flex-centering">

		<div class="projects-in-focus-heading">
  
			<div class="projects-in-focus">
		  	<% link_to 'projects/mindler.html', :class => 'project-item-focus mindler' do %>
		  		<div class="project-item-focus-back">
				  	<%= auto_image_tag 'logos/mindler.png' %>
				  	<h3>UX DESIGN LEAD</h3>
				  </div>
				<% end %>

		  	<% link_to 'projects/tvnu.html', :class => 'project-item-focus tvnu' do %>
		  		<div class="project-item-focus-back">
				  	<%= auto_image_tag 'logos/tvnu.png' %>
				  	<h3>PRODUCT DESIGN</h3>
				  </div>
				<% end %>

		    <% link_to 'projects/nyarp.html', :class => 'project-item-focus nyarp' do %>
		    	<div class="project-item-focus-back">
		      	<%= auto_image_tag 'logos/nyarp.png' %>
		      	<h3>FULL STACK DESIGN</h3>
		      </div>
		    <% end %>
			</div>
		</div>

		<div class="projects-at-a-glance-heading">
			
		  <div class="projects-at-a-glance">

			<% link_to 'projects/mindler-concept.html', class: 'project-item' do %>
			  <%= auto_image_tag 'projects/mindler-concept1.png' %>
			  <div class="project-text">
			    <h5>Mindler</h5>
			    <h4>Concept for Social Anxiety App</h4>
			  </div>
			<% end %>

		    <% link_to 'projects/aerocrine.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/aerocrine2.png' %>
		      <div class="project-text">
		        <h5>Aerocrine</h5>
		        <h4>Niox Vero</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/health-care.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/6_3.png' %>
		      <div class="project-text">
		        <h5>Veryday</h5>
		        <h4>Future Health Care Concept</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/insight-pump.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/insight-pump2.png' %>
		      <div class="project-text">
		        <h5>Roche Diagnostics</h5>
		        <h4>Insulin Pump Interface</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/swegon.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/34.png' %>
		      <div class="project-text">
		        <h5>Swegon</h5>
		        <h4>Air Handling Unit</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/itt.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/39_2.png' %>
		      <div class="project-text">
		        <h5>ITT Flygt (now Xylem)</h5>
		        <h4>Pump Station Interface</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/sonicspree.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/29_6.png' %>
		      <div class="project-text">
		        <h5>Veryday</h5>
		        <h4>Sonicspree Music Game</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/spotify.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/27.png' %>
		      <div class="project-text">
		        <h5>Spotify</h5>
		        <h4>Application for Windows Phone 7</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/gameface.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/40_2.png' %>
		      <div class="project-text">
		        <h5>Gameface Media</h5>
		        <h4>Photo Gallery Application</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/pinball.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/30_6.png' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Pinball Expo 2011</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/chartpen.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/20_4.png' %>
		      <div class="project-text">
		        <h5>Chartpen</h5>
		        <h4>Logo Design</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/doro.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/doro1.png' %>
		      <div class="project-text">
		        <h5>Doro</h5>
		        <h4>Mobile Phone Interfaces for Seniors</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/barcamp.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/40.png' %>
		      <div class="project-text">
		        <h5>thoughtbot</h5>
		        <h4>Barcamp Website</h4>
		      </div>
		    <% end %>

		<!--     <% link_to 'projects/fdn.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/38_2.png' %>
		      <div class="project-text">
		        <h5>FDN</h5>
		        <h4>Logo Design</h4>
		      </div>
		    <% end %> -->


		    <% link_to 'projects/earthworks.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/20.png' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Earthworks Logo Design</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/diabetes-education.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/37.png' %>
		      <div class="project-text">
		        <h5>Roche Diagnostics</h5>
		        <h4>Diabetes Education Tools</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/sustainable-smartphone.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/35.png' %>
		      <div class="project-text">
		        <h5>Concept Project</h5>
		        <h4>Sustainable Smart Phone</h4>
		      </div>
		    <% end %>

		<!--     
		    <% link_to 'projects/illustrations.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/31.png' %>
		      <div class="project-text">
		        <h5>Various Projects</h5>
		        <h4>Illustrations</h4>
		      </div>
		    <% end %>

				<% link_to 'projects/sjnitke.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/18_2.jpg' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Albert Sjnitke Album Art</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/book.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/5.jpg' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Book Cover</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/frutiger.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/11.jpg' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Adrian Frutiger Exhibition</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/recipes.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/26_2.jpg' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Flowchart Recipes</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/eastwood.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/32.png' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Eastwood Coffee Packaging</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/poetry.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/17_5.png' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>The American Poetry Review</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/one-image.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/2.jpg' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>One Image One word</h4>
		      </div>
		    <% end %>
		    <% link_to 'projects/portland.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/33.png' %>
		      <div class="project-text">
		        <h5>Graphic Design Study</h5>
		        <h4>Portland General Electrics Annual Report 2011</h4>
		      </div>
		    <% end %>
		     -->

		    <% link_to 'projects/element.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/9.jpg' %>
		      <div class="project-text">
		        <h5>The Interactive Institute</h5>
		        <h4>The Element Radiator</h4>
		      </div>
		    <% end %>
		    
		    <% link_to 'projects/power-aware-cord.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/8.jpg' %>
		      <div class="project-text">
		        <h5>The Interactive Institute</h5>
		        <h4>The Power-Aware Cord</h4>
		      </div>
		    <% end %>

		    <% link_to 'projects/microwave.html', :class => 'project-item' do %>
		      <%= auto_image_tag 'projects/12.png' %>
		      <div class="project-text">
		        <h5>Electrolux (Thesis Work)</h5>
		        <h4>Concept Halogen Microwave Oven</h4>
		      </div>
		    <% end %>

		  </div>  
		</div>
	</div>
</div>
